---
layout: default
title: Paulina Sanpruch - Portfolio
tab: portfolio
---

<div ng-controller="Posts">
    <div ng-if="!posts" class="loader">
        Loading portfolio items, please wait a moment...
    </div>

    <section ng-repeat="category in posts" ng-cloak>
        <h3 class="category" id="{[ category.name | hyphenate ]}">{[ category.name ]}</h3>

        <ul class="posts list-inline">
            <li class="post-item" ng-repeat="post in category.posts">
                <a href="javascript:" ng-click="show($index, $parent.$index)" class="post-item-content" proportional-height="post.image_width/post.image_height">
                    <div class="post-item-overlay">
                         <h4 class="post-item-title">{[ post.title ]}</h4>
                    </div>
                    <img lazy-src="/images/{[ post.image ]}" class="img-responsive" >
                </a>
            </li>
        </ul>
    </section>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" ng-style="{width: (shown.image_width + 32)+'px', 'margin-left': -(shown.image_width / 2)+'px', 'margin-top': -(25 + shown.image_height / 2)+'px'}">
            <div class="slideshow">
                <figure>
                    <a ng-show="hasPrev" href="javascript:" class="slideshow-prev" ng-click="prev()">&lang;</a>
                    <a ng-show="hasNext" href="javascript:" class="slideshow-next" ng-click="next()">&rang;</a>
                    <img class="slideshow-img img-responsive" ng-click="next()" ng-src="{[ shown ? '/images/' + shown.image : null ]}">
                    <figcaption>
                        <button type="button" class="close pull-right" ng-click="hide()" aria-hidden="true">&times;</button>
                        <h4>{[ shown.title ]}</h4>
                        <div ng-bind-html="shown.content"></div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

</div>
