---
layout: default
title: Paulina Sanpruch - Portfolio
tab: portfolio
---
<div  ng-controller="Posts">

    <section ng-repeat="category in posts">
        <h3 id="{[ category.name ]}">{[ category.name ]}</h3>

        <ul class="posts list-inline">
            <li class="post-item" ng-repeat="post in category.posts">

                <div class="post-item-content">
                    <div class="post-item-overlay">
                         <h4>{[ post.title ]}</h4>
                    </div>
                    <img ng-src="/images/{[ post.image ]}" class="img-responsive" >
                </div>

            </li>
        </ul>
    </section>
</div>