<!DOCTYPE html>
<html ng-app="portfolio">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/portfolio.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/bootstrap/assets/js/html5shiv.js"></script>
          <script src="/bootstrap/assets/js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-2">
                  <nav data-spy="affix" data-offset-top="100">
                      <div class="nav-logo">
                        <a href="/" title="{{ site.name }}">
                            <img alt="Paulina" src="/images/site/firstname.png">
                        </a>
                      </div>
                      <div class="nav-logo" id="nav-lastname">
                        <a href="/" title="{{ site.name }}">
                            <img alt="Paulina" src="/images/site/lastname.png">
                        </a>
                      </div>
                      <ul class="menu">
                         <li>
                             <a href="#illustrations">Graphics</a>
                             <ul>
                                <li><a href="#illustrations">Illustrations</a></li>
                                <li><a href="#characters">Characters</a></li>
                                <li><a href="#comics">Comics</a></li>
                             </ul>

                         </li>
                         <li>
                             <a href="#art">Art</a>
                             <ul>
                                <li><a href="#oil">Oil</a></li>
                                <li><a href="#watercolor">Watercolor</a></li>
                                <li><a href="#pastel">Pastel</a></li>
                                <li><a href="#ink">Ink</a></li>
                                <li><a href="#draw">Draw</a></li>
                             </ul>
                         </li>
                         <li>
                             <a class="#architecture">Architecture</a>
                         </li>
                         <li>
                             <a class="#technical">Technical drawings</a>
                         </li>
                      </ul>
                  </nav>


              </div>
              <div class="col-md-10">
                  <div>
                        <a href="/" title="{{ site.name }}">
                            <img alt="Sanpruch" src="/images/site/lastname.png">
                        </a>
                        <img id="pen" src="/images/site/pen.png" />
                  </div>
                <ul class="nav nav-tabs">
                  <li class="{% if page.tab == 'about' %}active{% endif %}"><a href="/about-me.html">about me</a></li>
                  <li class="{% if page.tab == 'portfolio' %}active{% endif %}"><a href="/">portfolio</a></li>
                  <li class="{% if page.tab == 'contact' %}active{% endif %}"><a href="/contact.html">contact</a></li>
                </ul>
                <div id="content">
                    {{ content }}
                </div>
              </div>
            </div>



        </div>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/bootstrap/js/affix.js"></script>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/portfolio.js"></script>
    </body>
</html>
