<!DOCTYPE html>
<html ng-app="portfolio">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/portfolio.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/bootstrap/assets/js/html5shiv.js"></script>
          <script src="/bootstrap/assets/js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-sm-2 sidebar">
                  <nav data-spy="affix" data-offset-top="100">
                        <a href="/" title="{{ site.name }}" id="nav-firstname" class="nav-logo"></a>
                        <a href="/" title="{{ site.name }}" id="nav-lastname" class="nav-logo"></a>
                      <ul class="menu">
                         <li>
                             <a href="/#illustrations">graphics</a>
                             <ul>
                                <li><a href="/#illustrations">illustrations</a></li>
                                <li><a href="/#characters">characters</a></li>
                                <li><a href="/#comics">comics</a></li>
                             </ul>

                         </li>
                         <li>
                             <a href="/#art">art</a>
                             <ul>
                                <li><a href="/#oil">oil</a></li>
                                <li><a href="/#watercolor">watercolor</a></li>
                                <li><a href="/#pastel">pastel</a></li>
                                <li><a href="/#ink">ink</a></li>
                                <li><a href="/#draw">draw</a></li>
                             </ul>
                         </li>
                         <li>
                             <a class="#architecture">architecture</a>
                         </li>
                         <li>
                             <a class="#technical">technical drawings</a>
                         </li>
                      </ul>
                  </nav>


              </div>
              <div class="col-sm-10">
                  <div>
                        <a href="/" title="{{ site.name }}">
                            <img alt="Sanpruch" src="/images/site/lastname.png">
                        </a>
                        <img id="pen" src="/images/site/pen.png" />
                  </div>
                <ul class="nav nav-tabs">
                  <li class="{% if page.tab == 'about' %}active{% endif %}"><a href="/about-me.html">about me</a></li>
                  <li class="{% if page.tab == 'portfolio' %}active{% endif %}"><a href="/">portfolio</a></li>
                  <li class="{% if page.tab == 'contact' %}active{% endif %}"><a href="/contact.html">contact</a></li>
                </ul>
                <div id="content">
                    {{ content }}
                </div>
              </div>
            </div>



        </div>
        <div id="corner"></div>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/bootstrap/js/affix.js"></script>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/portfolio.js"></script>
    </body>
</html>
