<!DOCTYPE html>
<html ng-app="portfolio">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

        <!--[if lt IE 10]>
            <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-ie9.css">
        <![endif]-->

        <!--[if lt IE 9]>
          <script src="/bootstrap/assets/js/html5shiv.js"></script>
          <script src="/bootstrap/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target="nav">
        <div class="container">
            <div class="row">
              <div class="col-sm-2 sidebar">
                  <nav data-spy="affix" data-offset-top="70">
                      <div id="nav-header">
                          <a href="/" title="{{ site.name }}" id="nav-firstname" class="nav-logo"></a>
                          <a href="/" title="{{ site.name }}" id="nav-lastname" class="nav-logo"></a>
                          <img id="pen" src="/images/site/pen.png">
                          <a href="javascript:" id="btn-menu" class="btn btn-default">Menu</a>
                      </div>

                      <ul class="menu">
                         <li>
                             <a href="/#illustrations">graphics</a>
                             <ul>
                                <li class="node"><a href="/#illustrations" data-target="#illustrations">illustrations</a></li>
                                <li class="node"><a href="/#characters" data-target="#characters">characters</a></li>
                                <li class="node"><a href="/#comics" data-target="#comics">comics</a></li>
                             </ul>

                         </li>
                         <li>
                             <a href="/#art">art</a>
                             <ul>
                                <li class="node"><a href="/#oil" data-target="#oil">oil</a></li>
                                <li class="node"><a href="/#watercolor" data-target="#watercolor">watercolor</a></li>
                                <li class="node"><a href="/#pastel" data-target="#pastel">pastel</a></li>
                                <li class="node"><a href="/#ink" data-target="#ink">ink</a></li>
                                <li class="node"><a href="/#pencil" data-target="#pencil">pencil</a></li>
                             </ul>
                         </li>
                         <li class="node">
                             <a href="/#architecture" data-target="#architecture">architecture</a>
                         </li>
                         <li class="node">
                             <a href="/#technical-drawings" data-target="#technical-drawings">technical <span class="visible-lg">drawings</span></a>
                         </li>
                         <li class="menu-page-link menu-page-link-first">
                             <a href="/about-me.html">about me</a>
                         </li>
                         <li class="menu-page-link">
                             <a href="/contact.html">contact</a>
                         </li>
                      </ul>
                  </nav>
              </div>
              <div id="content" class="col-sm-10">
                <ul class="nav nav-tabs">
                  <li class="{% if page.tab == 'about' %}active{% endif %}"><a href="/about-me.html">about me</a></li>
                  <li class="{% if page.tab == 'portfolio' %}active{% endif %}"><a href="/">portfolio</a></li>
                  <li class="{% if page.tab == 'contact' %}active{% endif %}"><a href="/contact.html">contact</a></li>
                </ul>
                <div id="tab-content" class="{% if page.tab == 'about' %}first-tab-active{% endif %}">
                    {{ content }}
                </div>
                <footer>Copyright &copy; 2013 &mdash; Design by Paulina Sańpruch. Brought to live by Adam Dziendziel. All rights reserved.</footer>
              </div>
            </div>



        </div>
        <div id="corner"></div>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/bootstrap/js/affix.js"></script>
        <script src="/bootstrap/js/scrollspy.js"></script>
        <script src="/bootstrap/js/modal.js"></script>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/portfolio.js"></script>
    </body>
</html>
